.topNav
{
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBYWEhgWFhcYGRgaGhoeHBkaGhocHh4cGRwaHBkcHRkcIS4lHh4rIxocJjgnKzAxNTU1GiU7QDszPy40NTEBDAwMEA8QHxISHzorJSs0Njc2NDY7NDY6NDQ0NDQ0NDY0PTQ0NDQ0NDQ9NDY0NjY0NDQ0NDQ0NDQ0NjQ0NDQ0NP/AABEIAK4BIgMBIgACEQEDEQH/xAAbAAEAAgMBAQAAAAAAAAAAAAAAAwUCBAYBB//EAEEQAAIBAgMFBgIIBAQGAwAAAAECEQADEiExBAVBUWEGInGBkaETMkJSYnKxwdHwgpKy4RQjU6IVJDNzwvEW0uL/xAAZAQEAAwEBAAAAAAAAAAAAAAAAAQIDBAX/xAApEQACAgICAgIBAwUBAAAAAAAAAQIRAyESMUFRE2EicZGxgaHh8PEU/9oADAMBAAIRAxEAPwCmZczAZj9r9B+tYHFxEe1XO9NkAYlcxJiZAwzkYHMZiqrLhHkk/wBVedGVo4CGK39373u2WBDNA4YiDHINw9x0NarIftfyx+dRsp6+kVbT7JO+2ffNraEPdAZO+wkYiZVcwFUEHFmRBOETGVVm+NlZrgZYuMqK2ZVURWzDspOJgBhgAYch83y1y+zuQ6kNgMjvGYHUwCY8jXSvcF9w1piStvA7AFdRFtxOYAdUNVUammy132Ydn9qPw3sozOGIZnIzdmyOERiAOEGTmYmF0rzel1NmvKi3mdR86sSe8cxhJDEdQSPCrPdL/wDLLjGFiYd0ADkNJQvEYzGIGc8hnJrQ2242zX3NrMvhX4pZAqhgCs93FbBBBnEJGecVCqUn5RJ5vnZjtQW7bKAAd4FidYGMNhznDnIBBPGax7JMgZsCqzgRBud7DxKgoBGnHxq52aztD2LiXGUqQ/fW5jVe7KksSWADahjEeRrgdnvslxXXJlzHiP8A2RSUG01/gXxdnT9p9mu3r1sKjKAkd8ooxFjIDYsJMYcgasOz3Z/4BxuQXiABmFnUydWPPxq5v30W2zv8gXEZzyiYjj4VzG5+0DvcdMIhgxtpyIBIQMfDj5RkK5k5ShS6Rq1FO2Z9ou0LI5tWjBGTvxB4qvhxNaHZVHvbUrO7FUBdiSSTwUCeJJHoahs9mdpcklABObM6wSecEknoBXX7m3Wuz28IMsc2bmeAHICtJSjjhS22VipSlbLN3noBoP3qetY0pXG3ZuKUpQClKUApSlAAakuie8NDr0PEfmP7VHXqPHgdQdDUp+GDylSYAflP8JMHyOh9jUbKRkRB5Gji0DU2neNtDDOJ5AEn208657ee+Gud1ZVOXE+PTpVbcxScXzSZnnOc+deKhYgak6ADX9a6I44x2csskpaPMXKmfhV3b3MFtl7zFYE4ViegJPE8qpj0rRST6M3Fx7JdlsYjHAa/pVkbS/VHoK0dnvwsIpYnMnOB+tZfEu8v9tYzTkyDawRoSvjmPf8AKpnUZFSesj9zTYLbMjM7Kv1R9InqOVY6fpWT7otVHtTpdBAVpCD6I1Y82PAdBUFeTQJ0Wf8AibX1D6L+tKraVBf5ZE+z3kZ2NwR8RhnBKrbU4mAAzzyXLQPVDvHd6yCjFlYMQokRmcIMjUjDmJ1rtd8oosOQoUMVS2BwVWxMfMAmdZIBzFV+zWrZQgRiItqcRwmWujHhy0ChcxmAZ6V3U4y4Wvdhx3RwTIBwHm4/KsSvh5MK6vb9ktEYSqq3ewulwywDMoxqUKloAJPdJDA9BTNupuDofT9Ku5xWmyj0VRFT7Btj2riuh7w9COKnoa2v+D3PsjrJ/IVubN2cxRivIg491mIHMd2D60+SPsI6bZbi3NkDKB8hzgTKtibFzjufzGo9v3crPYuoWUQyGCMwQSgJYFSMTQQwIyYaAV7uTd/wUdMUowxByylQw0zGgORI17orb3eBhNtysFgyBWViCNflJ7p6ngONZKXF2vRdeDY2PZBaQQqIxzYIgRZPJYkAj6JmMxJrhd5bjddsNkKQr3GCEDLAW4H7K6jhFfS7l0KADDOOJBy5TzPjWpcYsZbMjSeHhyqjy8W37/sbuCaopO2CMuyHgC6A5jSZ0nmBXH7gQttduODqT4L3m9pr6BvPYxdtPbOWIZHkwzU+oFVHZjcpsgu4hzIA1wrOefMx6R1qIZIxg15KSi3JGfaffNyw1vAEhsZKkGMsMRBEHM58cq2Nyb7TaARGFwJKzMj6yniPwrT7ZbGXtK4E/DJn7rRJ8iB71zXZ26U2u3HFo8nkEfnUqEZ478hycZV4Po9KUrlNhSlKAUpSgFKUoBSlKAVmt0gRqORzH9vKsKUTa6Br7Ru2xcbEyQ3MFoPjBn8a8ezb2dMUKq6YhmSeU6z0rZrnO07H4iD6OEkeJOfsBWkXydMzm1FWka29t5m6QqghBwOpPM/pVU2eXrXpmp9k2VncImp56dSTwroSUUcrbk7LbZNnLABBwH7mtu5uwqhZisjgc58Cane78BRbUSQoknjwmPKtC/tDv8zEx6DwFc3ku1GKp9kXQUIj2/GptjsY7gXQcTy6/vmK2N7sDcwqFAUAd0yOZjkOn/oK1ZHHVmvtIXCmEiY70HOZGvKpb+yKtpHk4nmVmQApImOHlVbsduFZjq7M3kT3fYCpLKlmUICRcf5jMaS5XnCrwykgVKXaJW3SRJStu7uNSxOIiSTEnj50qKj7J+KRabGp2u9iYYbSDJfHhPMxJPICod+KvwFYAKDeLKAI7ioyhgORhfY03VvNLVh1bFLNkFyMEAHvcONQ3LV7a7kgBVEKvAKDmQOZgSfDhlXZyjKFLcmWtOPts19k3eptMW7zi0uEASFd2YLPUFZg5Z8a3fi2gGW7EguP+gsNhZhKlBlmCDLCCD41GN0stwKHPeeAVBE/DzJyJMBlI01qPad2NhViMwl1wSzSYuIWJIM6OfU0TlFVx35CTS6KrEJMYdchmp6c62Esufot6GrK0GxMoW6CpIYB0eI5hiTHlWxZSDEhfskFG/k4+MAda5JJ+gsV+Sst7vdjGH1/TWrbZNlFoZGXOrcF6L161P8AEgQojmTqf0HQeprCq3XXZpHHGOxSlKqaClKUB4RORqjXs0i30uoSoVsRSJH8J4Z8M6vaVaMpR6IcU+xSlKqSKUpQClKUApSlAKUpQClKUArV2/YVurhbIjRhqP7dK2qCibT0Q0mqZQ2+zmfecR0XX1OVXuw7KloYVUAHXF9L+L8OA4VmnQjwP98qnVDGjAeGNf361spSkRGEY9GrvDd+NAVMQcsWgnhiGRHXpVc25bnCCOYkj1E1f2MjIAPPC0T/AAtnUpthc2zyJAw4W7onNlOXDXOrrEpK/wDhEscZO2VGw7suIjFSociA2LJQMyIAJJPKOFc1e3tZs3BJ+KVIJCnuzxBY8fAHOu42psa4WmGEEAkZG33oIMj5q4Tb+xjfNZcEGO68giSRAYCDpxArRRx3TfRScKS4kux9qbGIB7BURBIIfWc4IB4+1Rb93+Rct3LJVlVCskSO+0kEZEEBF8orU2fsheLQ7Kq8SGLHyAy9TVtc3Cj2HRIWH/yyfsDAcRGuI4zP2geFQ3iT0QuVFd/8xuf6afzGlVX/AMc2j/SfyiPLOlX4Yfr9ytzOwG7XJju+tdUwW0gUEBVGgPeJPKPlmYxfaOmtVtFSSANZgeJyrnw5XC6Vtm0YKPRmt7CwYKcFtMOUjWCcxocgf4qxd1KqpLmLDoR3fpBBqM47h9Ktb2zgJ8PhgcsfErJ/qjwqm5np+E/mTW2WU8Oru/5Jo0t4XMbYiqwSGIwhjBSRmRMyjfzdays55Azxgz6hXJy6q1TYIHgLf+0k/rXtu2AMPAHLpxEeR/GuWUnJ2yEtkqHKsq8WvaoXFKUoBSlKAUpSgFKUoBSlKAUpSgFKUoBSlKAUpSgFAKVkn7ziiBmv3lPiD+MVsWrQ17o6g3BkOMkVjbORzJPKW1JgCco96zuPIIHHIeLkAf7VJ/irogklb2CRm0AJMlILHFGKTlIkZAZ9aiuuSmIaw8D77ZewasLj8R1I8xhT2E1irarxiR4oMv8Ay9RVnO7QPn++d+bYt1ld8BUnuoIWIwyrasCBrPpUWwdqr6EYmFxcu60TlOjDMa8Zrsdv2SzeARwrEaZgMPAjPyrndv7NWbSO5Z2CKTh7o8AWw5TppV1kg1TWzGUZJ2mXuzbxW/bBtHNsjzT6xPXlzJHCa4zYd/7RaIXFiC5YHE5DKAdRGmtdR2b2zZimC0MDalWyYnnMnF66VXdoezTM5uWRMmWTQydSs5GeVZw4qTjJa+xLk0miUdr7XFGnj3l148aVy/8Aw+9/pP8AyP8ApStfhx/6ynOR9Qr1HhgeRB9M68pXCnR0lht22AyF4xiPQaAe/rVcRXtKvkySyO2DwivaUqgFKUoBSlKAUpSgFKUoBSlKAUpSgFKUoBSlKAUpSgFKUoBXorylASI/p+8/05TQv+fqdfbIVHSrcmDy9eCqWYgKoJJ4AAa+QFfPd879e8xALKnBBOY5tGp6aD3r6ERORrRubn2djJtJPQR+EVfFOMXclZSactI+cbNsz3HCIssdB+fQda+hbTu0/wCDNhTJFsAH6zLB9yPerDYtltoCqIqA8VUAzwJIzIqV0IMH99R0q2TLyprpERx0j5MjMjZSrA5HQgj8CK+k7l2341hHPzaN95cj66+dae+OzqXiXU4HOpAkN95efUe9bHZ/d72LRRyCcbGVkiCABqByq2XJGcU/JWEZKX0WdKUrnNjC44UEnQVkrAiRmKqt6XpbCNBr417u3aYOA6HTof71Bl8i5UWtKUoailKUApSlAKUpQClKUApSlAKUpQClKUApSlAKUpQClKUApSlAKUpQClKUApSlAKzR8oIke48DwrClE6BJ8KflM9ND6cfKawZSMiIPWvKzW6wykxy1Hocqt+LBhSs/inkv8q/pSo/EHN3nxMTETr41hQ1HtF9UUsxgfj0HWpSvSOEv02pRbxuwUAd4nICMjXL727VM0pY7o+uR3j90H5fE5+FVG99rZ2w45QQVA0zGZjnqM6r66sWBJXI1eRtUj6duzafiWUfiygnx0b3Braqi7H3J2WPquw9Yb/yq9rlnHjJo3i7SYpSlVLClKUApSlAKUpQClKUApSlAKUpQClKUApSlAKUpQCvJrxj+/wC9Qs+YHGD5iCZHPT3oQ2Tg17UKtn6/kR+NSI0/vpP50ITMqUpQsKmdohSAQAPHSTB8SahrO/8AOfGrJ0mAyZSuY4jiP1HX8KwrNGiTAzEeBkH8qMJEjUaj8x+n7BpPoGFKUqoOadgBJyA1NctvHbDcefoj5R+fiaue0dwoPh8Sc/ujT1y9K5wV2YIa5M4aFTW9nLLiHPSsLlhl1Hnwrc3fcyI4gz5GuiT1aB03Yof5D/8AcP8AQldHVJ2afuunAEMD94cf5RWO3b8IYhAsD6TcfAA6da4Jpyk6OmMlGKbL2lc/su/nLBWQNJgYJB9G19q6CqSi49l4yUuhSlKqWFKUoBSlKAUpSgFKUoBSlKAUpSgFKUoBSlKAwPn++lQuJ0Ofof5TkfHKpyetROwiCyxyYf3oVZHafvcoxGOgVBOdZ2jkP4fdR+tQvbaDhzyIEMGGf3sx5GpbbT5v/Sv/AOaFEydW/fmR+VQptiMxUOuIGCJzy111qvbfCK5VlYAR3tde9prGdU+37LDFwQyMSVcZjM/K3LX98LxhfZEslLRervlDdwfR0DzkW5eHCan3vvJbcR3nZRC/7ST0kGuOw6jl+/zq33NsfxRhbIIcQJylW+dZPUCPF+MVr8cUikcknovdh2gm0r3CBKyx0EHQ9MoraV4ggg8QdQQfxBH41zW+9tLvggIiHiMAJ+sQfojUeHUVrb17RYreDZpRUCqXPzFflBXioBgSc+8NKLC29GiyJf0Oym1/qR0nTpXlfI8RpW3wRK/N9Ft2ov49rfkuFR5CT7k1UTn+/Ktze5/5i7/3H/qNTbu2UXFVYEkkT5k5nwq6ajFWZS2zYsuHXofY8j0quFhviYVyg68hqSfD8q29m3e4v/CBjMydRC/MY/eorst0bKE+IGKQSNAMZWBJck55zAyGXWspZYxdJ9qyYwcjQ2HeFq0CArlSc2IU5aAGDpr61uDdWz3BjSYP1Tl6HTwrV2/cBDFrTAjkZEeBPDx962dy7t2hHJZYRtRPHgRGQ9qyatXF7NIqV8ZLRu7JsCW/kXPmcz6nTyrarP4Lcj+NYsCMjlWMlLtmySXR5SlKgkUpSgFKUoBSlKAUpSgFKUoBSlKAUpSgFKUoDwk1GX+0voT+BqTDWRsN9V/SP6qlJvohmm6g64fNG/GagdguYZdCIEjM5YoJqwNhuo8Wtj8aiZTBBLnytkeOs+1Txa7M2jR2zdq3D3ThYEIG4QFk4umvpVOEu2DiErIzI7yMp58p6+1S3mvWcsbFMyMQMZiCc9DB8OtSnfjBTNsSQACD3YHDQ5ZnjxrWNpa2ZNxb3plZecMw7gQERAzEnKRyHThUqbxdbaondMyWGpM5eAED0rUu3WZ2YhVmO6ggDn71jtAJBgwWGvIH5o9xWtdGd09GW87jbSe4zOUnEhJPi6Sc0+yM1jQjMQbBs6ocbnu5huWEiGjmRqOoFZ21W2oPXIDUnnlnU7XPjf8AVU/eSA38Y+VvY82rXkLsr791ldlwAwSJk8DHKva6GztgVQouiAABKZwBAn/MpV6gWqJklpRevo6yl04gDxykweeZ81qu3bsjWdrCHNTJU8xBg+MZHwq5uWGdBOTocm4EjiDyI9xWw1mWRzkyzI6EaeRj3ryfmpO/Kp/qvJtxv9zU2XZWF52ZYmYPMM0yPIVv7Ps0K5fKS0xqSeA8FjPh7VsbOmJ4ALQCY+6DAPScvOlzaAyd4EFcUtACkEYpy0gT5I3SaJPJtd1pfoaKKijDYbV61e+EgBtAEEnMmJGLPiCJwjugdc6tQAUWCe83e4meB9J9ajbaiSGUFToZHE/kc/SpimCe6TJkcAImDPHWu1SuyUqMns4s4MDILyA0nlxMZnOobyQo7wJGscAdBPkfWoN57clm2Xa2zNoACc24d4kwOZIOlauwb2S7spvEKgVmxhWxRhDHMxn3cJyy71WlC4t0OSujarQ27etu1cRHMF+PBRoC3IE5evKqPcm/3u7WVbJHUhE+rhlh4mAZNVfbCf8AFNOmFI8Iz98VUjh/Kn6M5T1aO42zaBbtu7aKCT1jh4nSuH2LeFy9tlpnJPfEKPlUcQB4TnV4Q9/dqqoxOwUASBiwOATJy0Wadnezxst8S4QXg4VGYWciSecZZddamHGEXffRDuTVdHR0pSuc2FKUoBSlKAUpSgFKUoBSlKAAVJhVfmzPIaDxP5D1oxwiOP0jy5gfmfLnPN7z7T20lU/zG5gwg/i4+XrWkYtukrf8FZSUezqnfMrkmbAFchkdGjyz4TVNf3raW5gLgvJBVcyI+bEdFAgkzEQa5i9vc7SpS5cCYhDJ8q4hOF0bQyMmRyJ1BmMMDqDdvHEpm3bBZSCpLtZS8ysNc2dT9411/wDn5bbM3k9FpvLtIVK/CTGrjuOzPnBhgUEQwPCeIOhFVO0702lvmcJxjJTHA5y0VDtZIt3cXdAvnDEfVuYxA8LevIVYbSuK58NgCmN0TER3Gtn4aBJ0UwkgTOKdRVvijHpGTk2aNm+5aWuBxowws0jiCSoqRgQ8qxILlmOhjgo958uVZD5AVGKUxABTpjKcftKeGlTTDEGMMSGlZMgESgEjWD1HHWs2q3RTZro5gYoJ4mIzz5dIqQQR4H2P796zcGe6zMv1iMMnPOJgDSo/GM/D8qMgxCAnEfD+w5CsShYS5AUcJhR4n6RrMevIVjesY4xcOBMe1LBD8W1zH8h/Svaz/wAKn2f936Uqbj9g7KhrNM1mTBJjSczlJ5Dl6zWC14so06O8l2a6JddCFB4jR1zB1y5jSK3bsNEjCx1YaGeOWRB4xVbZH0jmJ00IDDMAjoSKtd32UjEAcMxDZ5kxppHM6+FdOHdRQPbKkDvQTERIBBBMHPplXK7BvCdsLuXtEkKq3HADLOTKrooMGCe8T3spzrqh3okA4hPI8eI104zXEptCWrosXEDW1kh1CqxVJPfSMLv3SASY0MTnXoYYrd+ikntF52u2m8ioyXUVRimWTET3YhXbPjpWsgvNsNz4j47hViCAogYVIUMghjkTIkSYnKpd6pbvrZLz8J3XCoQYyxUtDNjhUIyMAnlGtVva74loW2S44LF577QdCO6IUDXQVaUmkoPVlZatmj2VtNe2r4zDuoDLqqrLEECQAAzd4k6HKSed5v7c42kKyEYlOEvqMM5gxxHDqSOo0uyu1JdQqyCUAIzJUgz9FiQDlwrnbl97F9jbYrhuMIByMMQJGhHSqbnN+GitpLe7Lbfl2/s1xFtuQmAYRCx3cmGY8DnPzVb9m9+fHBR4DqJyyDDSY4EZT4itxkt7XsyfEWAwmVgMCMjB9dfOq3YOzD2doW6txWQTMgqxUggiBInPnwqr4yg77RNNS10dHSlK5TYUpSgFKUoBSlKAUpSgFa23bzt7OmNzn9FBmzNzA5DnpMVp7/3r/h0ELiYkhZ0BA1PHyrgNp2h3cs7FmOpP4dB0rfBi5bfRlPJx0uzf3tvy5fJBOFPqA5fxH6R9ulVlKV2xioqkc7be2bu79lDSzCROFVJwhmgsSzDNUVQWYjPQZTIsU3iq27hRLZTuoCbarjZzLfLDBMCsM2Ld9STMAaXxLa2ExM4E3JCqpxEkfSLDDkijQ6aV5srLduW1w4baycAJ+UAu0ni7BILZcIgAAXWiVo3ruyPtAVrahASzBbjKCz3GGJ0YwHBOFZgfKo1129j2f4rIZTF8RHINxNVwC46FXiGVQxBMhlECMxoJtR+MpOZVPjudMTi38RB0VRhULoO9GsVHspCWQYmVLsDo0XPhW0bmisC5H0sgdAQoto302K5AV2ticWEG7aWQSGgQ/eExFR3kZLmB1ZThxAhcjKYlAY6ye7IymeValy2XW3jOKLbXCTqS90j/AOvvUijJwkKbZUaZGcc/0+9ZTiuqKOiW4BMmfCZPmeFYtkOXT9evSs2OZMAEiYEwNBlJPOoz8viT7f8As1iVIDtMBToCWU9GU8ehBHvUwfoD5fmKr0zW6OXfHQqYPqDUVraSuWo5fpWnGyaLbEPq+9Kr/wDiA+qfWlRwZFH/2Q==");
    width: 100%;
    position: sticky;
    align-items: center;
    display: flex;
    height: 90px; 
    z-index: 100;
}

.topCenter {
    flex: 6;
}

.topPfpImg {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;

}

.topRight, .topLeft {
    flex: 0.75;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topNavList {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 100;
    list-style:none;

}

.navListItem {
    margin-right: 70px;
    font-size: 30px;
    font-weight: 300;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.topList {
    list-style:none;
    border-radius: 10px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navListItemSide.Login {
    color: rgb(0, 0, 0);
    flex: 5;
    font-size: 20px;
    font-weight: lighter;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navListItemSide.Create {
    color: rgb(0, 0, 0);
    flex: 5;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: greenyellow;
    border-radius: 10px;
    padding-right:10px;
    padding-left: 10px;


}
.toplogo{
    width: auto;
    height:auto;
    margin-right: 350px;
    cursor: pointer;
}

.link{
    text-decoration: none;

}