#map {
    height: 400px;
    width: 100%;
  }
  
  .post-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-control {
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    background-color: #e8e8e8;
    margin-bottom: 10px;
  }
  
  .btn {
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .post-list {
    display: flex;
    flex-direction: column;
  }
  
  /* .post {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  } */
  
  .post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
  }
  
  .post-header h3 {
    margin: 0;
    padding: 10px;
  }
  
  .post-header p {
    margin: 0;
    font-size: 14px;
    color: #070ff3;
  }
  
  .post-body {
    padding: 10px;
    border-radius: 0 0 5px 5px;
  }
  
  .post {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .post:hover {background-color: #3e8e41}
  
  .post:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
  .map-container {
    position: flex;
    height: 400px;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
  }
  
  /* .map-popup {
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
  } */
  
  /* .map-popup-content {
    display: flex;
    flex-direction: column;
  } */
  
  .map-popup h4 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 20px;
  }
  
  .map-popup p {
    margin: 0;
    margin-bottom: 10px;
  }
  
  .map-popup button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border: none;
  }
  
  .map-popup button:hover {
    background-color: #0069d9;
  }
  
  .map {
    height: 100%;
    width: 100%;
    border-radius: 5px;
  }